h1 {
  font-family: $headers-font !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 6rem !important;
}

h2 {
  font-family: $headers-font !important;
  color: white !important;
  font-weight: normal !important;
  font-size: 5rem !important;
}

h3 {
  font-family: $headers-font !important;
  color: white !important;
  font-weight: normal !important;
  font-size: 4rem !important;
}

h4 {
  color: white !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

h5 {
  color: $orange !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

p {
  color: white !important;
  text-align: center !important;
  font-size: 1.1rem;
  letter-spacing: .2rem !important;
}

a:hover{
  text-decoration: none !important;
}
