.banner-home-page {
  height: 120vh;
  width: 100%;
  background: url("banner-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-home {
  background: linear-gradient(rgba(31, 41, 133, 1), rgba(43, 18, 54, 1));
  height: 350vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0px;
}

.section-1 {
  position: absolute;
  top: 60vh;
  left: 50%;
}

.section-2 {
  position: absolute;
  top: 230vh;
  left: 50%;
}

.section-3 {
  position: absolute;
  top: 340vh;
  left: 50%;
}
.card-btn {
  text-align: center;
  margin: 3rem;
}

.btn-home-card {
  border: 0.1rem solid white;
  padding: 1rem 2rem;
  color: white;
  letter-spacing: .2rem;
  transition: 0.3s ease;
  &:hover {
    color: white;
    transition: 0.3s ease;
    text-decoration: none;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.section-gauche {
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background: #000;
  // box-shadow: 0.5rem 0.5rem 0.5rem rgba(260,260,260,0.5);
  display: flex;
  border-bottom: 0.2rem solid #000;
  .title {
    text-align: center;
  }
  p {
    margin: 1rem;
  }
  .equilibre {
      z-index: 1111;
      width: 40%;
      background: #000;
      position: absolute;
      margin: 3%;
      color: #fff;
    }
  .content {
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: box-shadow;
    transform: skew(-10deg);
    transform-origin: bottom;
    box-shadow: 0.5rem 0rem 0.5rem rgba(0,0,0,0.5);
  }

  .imagebox {
    width: 60%;
    height: 100%;
    background: linear-gradient(rgba(10, 10, 10, 0.1),rgba(10,10,10,0.5)), url('travel-share-2.png') ;
    background-size: cover;
    background-position: center;
  }
}

.section-droit {
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background: #000;
  // box-shadow: 0.5rem 0.5rem 0.5rem rgba(260,260,260,0.5);
  display: flex;
  border-bottom: 0.2rem solid #000;
  .title {
    text-align: center;
  }
  p {
    margin: 1rem;
  }
  .equilibre {
      z-index: 1111;
      width: 40%;
      background: #000;
      position: absolute;
      right: 0;
      margin: 3%;
      color: #fff;
    }
  .content {
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: box-shadow;
    transform: skew(10deg);
    transform-origin: bottom;
    box-shadow: -0.5rem 0rem 0.5rem rgba(0,0,0,0.5);
  }

  .imagebox {
    width: 60%;
    height: 100%;
    background: linear-gradient(rgba(10, 10, 10, 0.1),rgba(10,10,10,0.5)), url('travel-share-2.png') ;
    background-size: cover;
    background-position: center;
  }
}
