.wrapper-home {
  background: #FFFFFF;
  height: 400vh;
}

* {
  margin: 0;
  padding: 0px;
}

.section-1 {
  position: absolute;
  top: 100%;
  left: 50%;
}

.section-2 {
  position: absolute;
  top: 220%;
  left: 50%;
}

.section-3 {
  position: absolute;
  top: 340%;
  left: 50%;
}

section {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 100%;
  background: #000;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5);
  display: flex;
  .title {
    text-align: center;
  }
  p {
    margin: 1rem;
  }
  .equilibre {
      z-index: 1111;
      width: 40%;
      background: #000;
      position: absolute;
      margin: 3%;
      color: #fff;
    }
  .content {
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: box-shadow;
    transform: skew(-10deg);
    transform-origin: bottom;
    box-shadow: 0.5rem 0rem 0.5rem rgba(0,0,0,0.5);
  }

  .imagebox {
    width: 60%;
    height: 100%;
    background: url('travel-share-2.png');
    background-size: cover;
    background-position: center;

  }

}
