.banner-new-hom {
  width: 100vw;
  height: 100vh;
  background: image-url('newHomeBanner.png') center center no-repeat;
  background-size: cover;
}

.wrapper-hom {
  width: 100vw;
  min-height: 100vh;
  background: image-url('genesis-svg.svg') center center no-repeat fixed;
  background-size: cover;
}

.title-home {
  width: 100vw;
  height: 200px;
  background: image-url('dark-blue-cloudy.png') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
  }
}
