header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(#cde8f6, #d195f9);
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: #d195f9;
  clip-path: polygon(0 0%, 0% 100%, 300px 100%, 100% 0);
  -webkit-clip-path: polygon(0 0%, 0% 100%, 300px 100%, 100% 0);
}

.vide-newdesign {
  width: 100%;
  height: 300px;
  background: white;
}

.section-home {
  background: white;
  display: flex;
  position: relative;
}

#bandeau {
  flex: 0 0 300px;
  height: 200vh;
  background-image: linear-gradient(#d195f9, #cde8f6);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0;
  left: 0;
  // box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.5);
}

.container-newdesign {
  position: absolute;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  background: $white;
}

.carda {
  background: $orange;
  width: 100%;
  height: 500px;
  margin-top: calc((100vh - 500px)/2)
}

h1 {
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

header h1 {
  color: white;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}
