.website-wrapper {
  width: 100%;
  height: 50vh;
  background: #919191;
  .box {
    position: absolute;
    background: #919191;
    display: inline-block;
    .premier {
      top: 4rem;
      width: 1.5rem;
      height: 10rem;
}
  }
}
.I {
  top: 4rem;
  width: 1.5rem;
  height: 10rem;
}
.R1 {
  top: 4rem;
  width: 1.5rem;
  height: 10rem;
}
.R2 {
  top: 4rem;
  width: 7.5rem;
  height: 1.5rem;
}

.R3 {
  top: 4rem;
  width: 1.5rem;
  height: 4rem;
}
.R4 {
  top: 10rem;
  width: 6.5rem;
  height: 1.5rem;
}
.premier {
  top: 4rem;
  width: 1.5rem;
  height: 10rem;
}
.toto {
  top: 4rem;
  width: 1.5rem;
  height: 10rem;
}
.putaindesamere2 {
  top: 4rem;
  width: 1.5rem;
  height: 10rem;
}

.D3 {

}
.D4 {

}
.D5 {

}
