.wrapper-video {
  width: 100%;
  background: white;
}
.vert {
  background: #88B7A5;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.channel-header {
  padding: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purple-title {
  color: $purple !important;
}
.overflow {
  overflow: scroll;
  height: 80vh;

}
.video-wrapper {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.one-video {
  width: 100%;
  margin-top: 3vh;
}

.description-video {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  p {
    color: #88B7A5 !important;
  }
}
.display-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-channel-1 {
  position: relative;
  height: 400px;
  background-image: white;
}

h1 {
  color: #88B7A5 !important;
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

.header-channel-1 h1 {
  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.separator-video {
  position: relative;
  background: #88B7A5;
  width: 100%;
  height: 100px;
}

.white-tampon {
  width: 100%;
  height: 200px;
  background: white;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}
