.wrapper {
  width: 100%;
  min-height: 100vh
}
.dark-blue {
  background: rgba(31, 41, 133, 0.3);
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.channel-header {
  padding: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purple-title {
  color: $purple !important;
}
.overflow {
  overflow: scroll;
  height: 80vh;

}
.video-wrapper {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  box-shadow: 0rem 0.5rem 0.5rem $orange;
}

.one-video {
  width: 100%;
  margin-top: 3vh;
}

.description-video {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.display-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

