<%= render 'shared/navbar' %>
<div class="wrapper">
  <div class="main">
    <% @creations.each do |creation| %>
      <div class="column">
        <figure class="figure">
          <%= link_to creation_path(creation.id) do %>
            <%= cl_image_tag creation.photo, crop: :thumb, width: 300, height: 200 %>
          <% end %>
        </figure>
      </div>
    <% end %>
  </div>
</div>

