<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>New Design creation</h2>
      <%= render 'form', creation: @creation %>
    </div>
  </div>
</div>
