<%= render 'shared/navbar' %>
<div class="wrapper-black">
  <div class="show-image">
    <%= cl_image_tag @creation.photo, :width => 1280, height: 720, crop: :fit %>
  </div>
  <div class="creation-description">
    <h1><%= @creation.title %></h1>
    <p><%= @creation.description %></p>
  </div>
</div>
