<%= render 'shared/navbar' %>
<div class="wrapper">
  <h1>Creativ Construction Video</h1>
  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channelid="UCddE5znXiM2pl15WUtI1_lQ" data-layout="full" data-count="hidden"></div>
  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channelid="UCnqpqEESZFefHIm5wzZoUQw" data-layout="full" data-count="hidden"></div>
  <div class="video-wrapper">
    <div class="one-video">
      <div class="title-video">

      </div>
      <div class="description-video">

      </div>
      <div class="display-video">

      </div>
    </div>
  </div>
</div>
