<%= render 'shared/navbar' %>
<div class="wrapper dark-blue">
  <div class="video-wrapper">
    <div class="channel-header">
      <h3>Creativ Construction</h3>
      <script src="https://apis.google.com/js/platform.js"></script>
      <div class="g-ytsubscribe" data-channelid="UCddE5znXiM2pl15WUtI1_lQ" data-layout="default" data-count="hidden"></div>
    </div>
    <div class="container overflow">
      <div class="row">
        <div class="col-md-6">
          <div class="description-video">
            <p><strong>Je suis le titre de la video</strong><br><br>
            Je suis la derscrioption de la video et on s'en bat les couilles a vrai dire de la description de la video</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="one-video">
            <div class="display-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/8XYH1VBx3-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper dark-blue">
  <div class="video-wrapper">
    <div class="channel-header">
      <h3>Adrien Lefrancq</h3>
      <script src="https://apis.google.com/js/platform.js"></script>
      <div class="g-ytsubscribe" data-channelid="UCnqpqEESZFefHIm5wzZoUQw" data-layout="default" data-count="hidden"></div>
    </div>
   <div class="container overflow">
      <div class="row">
        <div class="col-md-6">
          <div class="description-video">
            <p><strong>Je suis le titre de la video</strong><br><br>
            Je suis la derscrioption de la video et on s'en bat les couilles a vrai dire de la description de la video</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="one-video">
            <div class="display-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/8XYH1VBx3-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
