<div class="footer">
  <ul>
    <li>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </li>
    <li>
      <p> contact form <%= link_to "here", "/", class:"link" %></p>
    </li>
    <li>
     <p> download the resume <%= link_to "here", "/", class:"link" %> </p>
    </li>
  </ul>
  <div class="footer-links">
  </div>
  <div class="footer-copyright hidden-xs hidden-sm">
    <p>This website is made by Irdane</p>
  </div>
</div>
