<div class="footer">
  <ul>
    <li>
      <div class="footer-links">
        <a href="https://github.com/irdane21"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/irdane_21/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCddE5znXiM2pl15WUtI1_lQ"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/adrien-lefrancq-669bb3164/"><i class="fab fa-linkedin"></i></a>
      </div>
    </li>
    <li>
      <p> contact form <%= link_to "here", "/" %></p>
    </li>
    <li>
     <p> <%= link_to 'Download my resume', pages_downloadFile_url %> </p>
    </li>
  </ul>
  <div class="footer-copyright hidden-xs hidden-sm">
    <p>This website is made by <%= link_to "I", dashboard_path %>rdane</p>
  </div>
</div>
