<nav id="maine">
  <ul>
    <li class="pop-logo"><a href="#">IRDANE.</a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Websites</a></li>
    <li><a href="#">Graphic Design</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
