<div class="wrapper-home">


  <section class="section-1">
    <div class="equilibre">
      <div class="title">
        <h2>Web Sites</h2>
      </div>
        <p>"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon talon d'achille, comment lui dire que fuir m'a transformé en garçon facile"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, </p>
        <%= link_to "Web Site", sites_path, class: 'btn btn-primary' %>
      </div>
    <div class="content">

    </div>
    <div class="imagebox">
    </div>
  </section>

  <section class="section-2">
    <div class="equilibre">
        <p>"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon talon d'achille, comment lui dire que fuir m'a transformé en garçon facile"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, </p>
        <%= link_to "Web Site", sites_path, class: 'btn btn-primary' %>
      </div>
    <div class="content">

    </div>
    <div class="imagebox">
    </div>
  </section>

  <section class="section-3">
    <div class="equilibre">
        <p>"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon talon d'achille, comment lui dire que fuir m'a transformé en garçon facile"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, </p>
        <%= link_to "Web Site", sites_path, class: 'btn btn-primary' %>
      </div>
    <div class="content">

    </div>
    <div class="imagebox">
    </div>
  </section>
</div>
