<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to creations_path(:type => video), class: 'btn btn-primary' do %>
  <h3>Video</h3>
<% end %>
<%= link_to creations_path(:type => article), class: 'btn btn-primary' do %>
  <h3>Video</h3>
<% end %>
<%= link_to creations_path(:type => site), class: 'btn btn-primary' do %>
  <h3>Video</h3>
<% end %>
<%= link_to creations_path(:type => design), class: 'btn btn-primary' do %>
  <h3>Video</h3>
<% end %>
