<header class="hero">

  <h1>IRDANE</h1>
  <h2>Welcome to my Portfolio</h2>
</header>
<div class="vide-newdesign"></div>
<section class="section-home">
  <div id="bandeau1">
    <div class="titre-home1 rotate1">
      <h2>WEBSITES</h2>
    </div>
    <div class="titre-home2 rotate1">
      <h2>GRAPHIC DESIGN</h2>
    </div>
  </div>
  <div class="container container-newdesign1">
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <h3 class="big-hide">WEBSITES</h3>
      </div>
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <%= link_to sites_path do %>
          <div class="carda imageBack1">
            <div class="carda-text">
              <p>
                Here you can find all my creations or project that I worked on it. At school with Le Wagon or by myself aside.
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <h3 class="big-hide">GRAPHIC DESIGN</h3>
      </div>
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <%= link_to creations_path do %>
          <div class="carda imageBack2">
            <div class="carda-text">
              <p>
                I started the graphic design as a hoobie 2 years ago and step by step I improved my skills. Take a look!
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class="transition">
  <div class="transition-title">
    <h2>HOBBIES</h2>
  </div>
</div>
<div class="separator"></div>
<section class="section-home">
  <div class="container container-newdesign2">
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <h3 class="big-hide">VIDEOS</h3>
      </div>
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <%= link_to videos_path do %>
          <div class="carda imageBack3">
            <div class="carda-text">
              <p>
                For my family or myself I'm recording, editing and publishing videos. If you're curious and not to scared, check it!
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <h3 class="big-hide">ARTICLES</h3>
      </div>
       <div class="col-md-10 col-sm-10 col-xl-10 col-lg-10">
        <%= link_to articles_path do %>
          <div class="carda imageBack4">
            <div class="carda-text">
              <p>
                I created this category as a motivation for write my thoughts and share it with the world.
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="bandeau2">
    <div class="titre-home3 rotate2">
      <h2>VIDEOS</h2>
    </div>
    <div class="titre-home4 rotate2">
      <h2>ARTICLES</h2>
    </div>
  </div>
</section>


