<div class="banner-home-page">
  <div class="intro">
  </div>
  <div class="wrapper-home">

    <section class="section-1 section-gauche">
      <div class="equilibre">
        <div class="title">
          <h2>Web Sites</h2>
        </div>
        <p>
          "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
        </p>
        <div class="card-btn">
          <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
        </div>
      </div>
      <div class="content">

      </div>
      <div class="imagebox">
      </div>
    </section>

    <section class="section-2 section-droit">
      <div class="imagebox">
      </div>
      <div class="equilibre">
        <div class="title">
          <h2>Web Sites</h2>
        </div>
        <p>
          "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce
        </p>
        <div class="card-btn">
          <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
        </div>
      </div>
      <div class="content">

      </div>
    </section>

    <section class="section-3 section-gauche">
      <div class="equilibre">
          <p>"je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon  </p>
          <%= link_to "Web Site", sites_path, class: 'btn btn-primary' %>
        </div>
      <div class="content">

      </div>
      <div class="imagebox">
      </div>
    </section>
  </div>
</div>
