<header>
  <h1>Header Content</h1>
</header>
<div class="vide-newdesign"></div>
<section class="section-home">
  <div id="bandeau1"></div>
  <div class="container container-newdesign1">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-10">
        <div class="carda">
          <div class="carda-text">
            <p>
              "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
            </p>
          </div>
          <div class="carda-button">
            <h3>See More</h3>
          </div>
        </div>
      </div>
      <div class="col col-lg-10">
        <div class="carda">
          <div class="carda-text">
            <p>
              "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
            </p>
          </div>
          <div class="carda-button">
            <h3>See More</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="transition"></div>
<div class="separator"></div>
<section class="section-home">
  <div id="bandeau2"></div>
  <div class="container container-newdesign2">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-10">
        <div class="carda">
          <div class="carda-text">
            <p>
              "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
            </p>
          </div>
          <div class="carda-button">
            <h3>See More</h3>
          </div>
        </div>
      </div>
       <div class="col col-lg-10">
        <div class="carda">
          <div class="carda-text">
            <p>
              "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
            </p>
          </div>
          <div class="carda-button">
            <h3>See More</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
