<header>
  <h1>Header Content</h1>
</header>
<div class="vide-newdesign"></div>
<section class="section-home">
  <div id=bandeau></div>
  <div class="container container-newdesign">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-10">
        <div class="section-1 section-gauche carda">
          <div class="rectangle-cache"></div>
          <div class="equilibre d-flex align-items-center">
            <div>
              <div class="title">
                <h2>Websites</h2>
              </div>
              <p>
                "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
              </p>
              <div class="card-btn">
                <%= link_to "See more", sites_path, class: "btn btn-home-card" %>
              </div>
            </div>
          </div>
          <div class="content">

          </div>
          <div class="imagebox">
          </div>
        </div>
      </div>
      <div class="col col-lg-10">
        <div class="section-2 section-droit carda">
          <div class="imagebox">
          </div>
          <div class="rectangle-cache"></div>
          <div class="equilibre d-flex align-items-center">
            <div>
              <div class="title">
                <h2>Graphic Design</h2>
              </div>
              <p>
                "je peux pas êttre son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il apas besoin de ça , au final tout ce
              </p>
              <div class="card-btn">
                <%= link_to "See more", creations_path, class: "btn btn-home-card" %>
              </div>
            </div>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="transition"></div>
<div class="separator"></div>
