<header>
  <h1>IRDANE</h1>
  <h2>Welcome to my Portfolio</h2>
</header>
<div class="vide-newdesign"></div>
<section class="section-home">
  <div id="bandeau1">
    <div class="titre-home1 rotate1">
      <h2>WEBSITE</h2>
    </div>
    <div class="titre-home2 rotate1">
      <h2>GRAPHIC DESIGN</h2>
    </div>
  </div>
  <div class="container container-newdesign1">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-10">
        <%= link_to sites_path do %>
          <div class="carda imageBack1">
            <div class="carda-text">
              <p>
                "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
              </p>
            </div>
          </div>
        <% end %>
        </div>
      <div class="col col-lg-10">
        <%= link_to creations_path do %>
          <div class="carda imageBack2">
            <div class="carda-text">
              <p>
                "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class="transition"></div>
<div class="separator"></div>
<section class="section-home">
  <div class="container container-newdesign2">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-10">
        <%= link_to videos_path do %>
          <div class="carda imageBack3">
            <div class="carda-text">
              <p>
                "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
              </p>
            </div>
          </div>
        <% end %>
      </div>
       <div class="col col-lg-10">
        <%= link_to articles_path do %>
          <div class="carda imageBack4">
            <div class="carda-text">
              <p>
                "je peux pas être son portrait cracher, est ce que l'absence de modèle l'empêche d'être un papa poule , j'ai pas besoin de ça il a pas besoin de ça , au final tout ce qu'il reste des sentiments gaché, constence c'est mon
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="bandeau2">
    <div class="titre-home3 rotate2">
      <h2>VIDEOS</h2>
    </div>
    <div class="titre-home4 rotate2">
      <h2>ARTICLES</h2>
    </div>
  </div>
</section>
