<div class="wrapper-contact">
  <%= render 'shared/navbar' %>
  <div class="container padding">
    <div class="row">
      <div class="col-md-6 offset-md-3 align-self-center">
        <h3>Thank you for your message!</h3>
        <p>I'll get back to you soon. </p>
      </div>
    </div>
  </div>
</div>

