<%= render 'shared/navbar' %>
<div class="wrapper white">
  <div class="container">
    <div class="row justify-content-center">
      <h1>Which game do you want to play ?!</h1>
      <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6 no-padding">
        <%= link_to whack_a_mole_path do %>
          <h3>Whack a mole!</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
