.wrapper-mole-game {
  box-sizing: border-box;
  font-size: 10px;
  background: rgba(65, 115, 124, 0.7);
  width: calc(100vw - 300px);
  height: 100vh;
  padding: 1rem 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper-mole-game > h1 {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 20%;
  overflow: hidden;
  position: relative;
  opacity: 0;
}

.hole-easy {
 opacity: 1;
}

.hole-active {
 opacity: 1;
}

.hole:after {
  display: block;
  background: url('dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.side-score-bar {
  position: sticky !important;
  top: 0 !important;
  height: 100vh;
  width: 300px;
  background: white;

  h3 {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 2rem !important;
    line-height: 1;
  }
}

.btn-startgame {
  width: 300px;
  height: 100px;
  transition: all 0.2s;
  color: white;
  font-size: 2.2rem;
}

.difficultybutton {
  width: 50%;
  height: 100px;
  transition: all 0.2s;
  color: white;
  font-size: 2.2rem;
}

.orange-color {
  background: #F0595A;
}

.other-color {
  background: #88B7A5;
  position: sticky !important;
  top: 100vh !important;
  padding-top: 1.5rem;
  margin: 0;
  height: 80px;
}

.btn-active {
  transform: scale(0.95) translate(0, 3px);
  opacity: 0.8
}

.btn-easy {
  background: #99d6de;
}

.btn-hard {
  background: #3C5B87;
}

.difficultybutton:hover {
  transform: scale(0.95) translate(0, 3px);
}

.btn-startgame:hover {
  transform: scale(0.95) translate(0, 3px);
}

.table-hide {
  display: none !important;
}

.red {
  background: red;
}

table {
  margin-top: 3rem;
}

td {
  padding: 0.5rem 0.75rem !important;
}

th {
  padding: 0.5rem 0.75rem !important;
}
.table-hide tr{
  display: none;
}

.end-game-message {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 1.5rem !important;
    margin: 0 2rem;
  }
  input {
    margin: 0 2rem;
    opacity: 0;

  }
  button {
    margin: 0 2rem;
    opacity: 0;
  }
}

.opa-city {
  opacity: 1 !important;
}










