.irdane-animation {
  width: 100%;
  height: 50vh;
  background: transparent;
  position: absolute;
  top: 50vh;
  left: 0;
  .box {
    position: absolute;
    background: transparent;
    opacity: 0;
    display: inline-block;
    border-radius: 0.2rem;
  }
}
.I {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.R1 {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.R2 {
  top: 10vh;
  width: 20vh;
  height: 4vh;
}

.R3 {
  top: 10vh;
  width: 4vh;
  height: 12vh;
}
.R4 {
  top: 28vh;
  width: 18vh;
  height: 4vh;
}
.D1 {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.D2 {
  top: 10vh;
  width: 15vh;
  height: 4vh;
}
.D3 {
  top: 14vh;
  width: 12.2vh;
  height: 4vh;
}
.D4 {
  top: 19vh;
  width: 4vh;
  height: 11vh;
}
.D5 {
  top: 29.5vh;
  width: 9vh;
  height: 4vh;
}
.A1 {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.A2 {
  top: 10vh;
  width: 22vh;
  height: 4vh;
}
.A3 {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.A4 {
  top: 22.5vh;
  width: 12vh;
  height: 4vh;
}
.N1 {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.N2 {
  top: 7.8vh;
  width: 4vh;
  height: 32vh;
}
.N3 {
  top: 10vh;
  width: 4vh;
  height: 10vh;
}
.E1 {
  top: 10vh;
  width: 4vh;
  height: 28vh;
}
.E2 {
  top: 10vh;
  width: 20vh;
  height: 4vh;
}
.E3 {
  top: 34vh;
  width: 20vh;
  height: 4vh;
}
.E4 {
  top: 22.5vh;
  width: 9vh;
  height: 4vh;
}
