.btn-perso {
  padding: 10px 20px;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  transition: 0.3s ease;
  border-radius: 0px;
  &:hover {
    color: purple;
    transition: 0.3s ease;
    background-color: #ffffff;
    color: #919191;
    text-decoration: none;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.navbar-perso {
  width: 100%;
  background-color: $gray;
}
ul {
  width: 100%;
  display: flex;
  align-items: center;
  li {
    display: inline;
    flex: 1 1 auto;
  }
}
.logo {
  margin: 2rem;
  height: 400px;
  transition: 0.3s ease;
  &:hover {
    transition: 0.3s ease;
    text-decoration: none;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.container {
  .row {
    width: 100%;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
