.btn-perso {
  padding: 10px 20px;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  transition: 0.3s ease;
  border-radius: 0px;
  &:hover {
    color: purple;
    transition: 0.3s ease;
    background-color: #ffffff;
    color: #919191;
    text-decoration: none;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.motherfucker {
  margin: 2vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.navbar-perso {
  width: 100%;
  height: 42vh;
  min-height: 300px;
  background-color: $gray;
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      display: inline;
      flex: 1 1 auto;
      padding: 0px 8px;
    }
  }
}
.logo {
  margin: 0.8rem;
  width: 30vh;
  transition: 0.3s ease;
  &:hover {
    transition: 0.3s ease;
    text-decoration: none;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
