.motherfucker {
  margin-left: -15vh;
  margin-top: -15vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background: $purple;
 }
.navbar-perso {
  width: 100%;
  height: 35vh;
  position: relative;
  background-color: $purple;
}

.nav-bando {
  position:absolute;
  top: 50%;
  margin-top: -5vh;
  height: 10vh;
  width: 100%;
  z-index: 0;
  background: white;
  transition-duration: 2.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#middle {
  width: 30vh;
  height: 100%
}

.logo {
  width: 30vh;
  margin-bottom: 1vh;
  transition: 0.3s ease;
  background: $purple;
  z-index:10;
  &:hover {
    transition: 0.3s ease;
    text-decoration: none;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

  }
}
// .motherfucker:hover >.cachette-left {
//   -ms-transform: translate(100%, 0%);
//   -webkit-transform: translate(100%, 0%);
//   transform: translate(100%, 0%);
// }

#paddo {
  height: 100%;
  width: 30vh;
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn-navbar {
  // background:white;
  padding-right: 2rem;
  padding-left: 2rem;
  color: $purple;
  letter-spacing: .2rem;
  transition: 0.3s ease;
  z-index: 120000;
  &:hover {
    color: $orange;
    transition: 0.3s ease;
    text-decoration: none;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.motion {
  width: 0px !important;
}
#cachette-right {
  position:absolute;
  top: 50%;
  right: 0;
  margin-top: -5vh;
  width: 50%;
  height: 10vh;
  background: $purple;
  transform-origin: top right !important;
  transition-duration: 2.5s;
}

#cachette-left {
  position:absolute;
  top: 50%;
  left: 0;
  margin-top: -5vh;
  width: 50%;
  height: 10vh;
  background: $purple;
  transform-origin: top left !important;
  transition-duration: 2.5s;
}
