<div class="website-wrapper">
  <div class="box I"></div>
  <div class="box R-1"></div>
  <div class="box R-2"></div>
  <div class="box R-3"></div>
  <div class="box R-4"></div>
  <div class="box D-1"></div>
  <div class="box D-2"></div>
  <div class="box D-3"></div>
  <div class="box D-4"></div>
  <div class="box D-5"></div>
</div>
