<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>Update : <%= @site.title %></h2>
      <%= render 'form', site: @site %>
    </div>
  </div>
</div>
